{% extends "base.html" %}
{% load static %}


{% block title %}Авторизация{% endblock title %}



{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="login-block">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="row justify-content-center">
                        <div class="col-5">
                            <img src="{% static 'img/logo.png' %}" alt="Scanfcode" width="100%">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group justify-content-center">
                                <div class="input-group justify-content-center">
                                    <span img src="{% static 'img/user.png' %}" alt=""><img src="{% static 'img/user.png' %}" height="20px"></span>
                                    {{ form.username }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group justify-content-center">
                                    <span img src="password.png" alt=""><img src="{% static 'img/password.png' %}" height="20px"></span>
                                    {{ form.password }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group justify-content-center">
                                    <button type="submit" class="btn btn-primary btn-lg" >Подключиться</button>
                                </div>
                            </div>
                            <div class="login-footer">

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}