{% extends "base.html" %}
{% load static %}



{% block title %}
    {{ product.author }}
{% endblock %}

{% block content %}
    <div class="row">
        <h1>Создание поста</h1>
    </div>
    <div class="row">
        <form method="post" action="{% url 'shop:ProductAdd' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.name }}
            {{ form.slug }}
            {{ form.description }}
            {{ form.price }}
            {{ form.images }}
            <div>
                <input type="submit" value="Добавить пост"/>
            </div>
        </form>
    </div>
    
{% endblock %}