{% extends 'base.html' %}
{% load static %}

{% block style_rating %}
{% endblock style_rating %}

{% block title %}Титле{% endblock title %}


{% block titles %}
	<div class="titles">
		<div class="first_title">
			Добро пожаловать на ThemeStore
		</div>

		<h1>
			Начни уже сейчас!
		</h1>
	</div>

	<a href="#" class="button">
		Начать
	</a>
{% endblock titles %}


{% block content %}
<section id="services">


	<div class="container">
		<div class="title">
			<h2>
				Мы лучшая площадка в рунете.
			</h2>
			<p>
				Тут вы можете найти множество разных html/wordpress шаблонов, различных скриптов и других интересных продуктов. Мы гарантируем :
			</p>
		</div>
		
		<div class="services items">

			<div class="services_item">

				<img src="{% static 'img/item_first.png' %}" alt="Услуга">

				<h3>Безопасность</h3>

				<p>Все сделки проходят через наш сайт, все продукты соответствоют описанию</p>

			</div>


			<div class="services_item">

				<img src="{% static 'img/item_quality.png' %}" alt="Услуга">

				<h3>Качество</h3>

				<p>Каждый продукт проходит модерацию, и мы выбераем только качественные и адаптивные товары.</p>
			</div>

			<div class="services_item">

				<img src="{% static 'img/item_fast.png' %}" alt="Услуга">

				<h3>Скорость</h3>

				<p>Покупка совершается быстро, нужно всеволишь загегестрироваться</p>
			</div>

		</div>

	</div>


</section>


<section id="besttemplates">
	<div class="container">

		<div class="title">
			<h2>
				Откройте для себя лучшие темы недели.
			</h2>

			<p>
				Каждую неделю наша система отбирает лучшие шаблоны по их рейтингу. <br>
				Также на нашем сайте доступно - 0 WordPress тем, и -  0 html-шаблонов.

			</p>
		</div>


		<div class="input-group">
			<input type="text" class="form-control" placeholder="Найти WordPress шаблон">
			<div class="input-group-append">
				<button class="btn btn-secondary" type="button" style="border-radius: 0px 7px 7px 0px;">
					<i class="fa fa-search"></i>
				</button>
			</div>
		</div>




		<div class="works">

			<p>Hi guys</p>


		</div>
	</div>
</section>

<section>
	<div class="container"></div>
</section>
{% endblock content %}